/*
This is a coment
*/
.poyla_line{
    color: blue;
    background-color: gray;
    text-align: center;
}
.second_line{
    background-color: tomato;
    color: aqua;
    text-align: right;
}
.pichor_line{
    background-color: black;
    color: white;
    text-align: left;
}

.foyla_bakso{
    width: 500px;
    height: 400px;
    background-color: brown;
    margin: auto;
    overflow: hidden;
    padding: 50px;
}

.bador_bakso{
    width: 400px;
    height: 300px;
    background-color: violet;
    margin: auto;
    overflow: hidden;
}
.shesher_bakso{
    width: 300px;
    height: 200px;
    background-color: rgb(16, 65, 23);
    margin: auto;
    margin:50px;
}

.nicher_sonduk{
    margin-top: 20px;
}
