.circle{
    width: 400px;
    height: 400px;
    background-color: #A9987F;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
    border: 10px solid #ffae19;
    box-shadow: 0px 0px 50px 25px orange;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Mr._Smiley_Face.svg/1024px-Mr._Smiley_Face.svg.png);
    background-size: auto;
    background-size: cover;
}