/*Starting style form heare*/
.heading_tag{
    color: green;
    text-align: center;
}

.box_1{
    width: 500px;
    height: 300px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}