@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fasthand&display=swap');
.problem_2{
    background-color: #450d17;
    color: white;
    font-family: 'Fasthand', cursive;
}

.post_details{
    font-family: 'Abel', sans-serif;
}

.round_shape{
    margin-bottom: 100px;
    width: 400px;
    height: 400px;
    background-color: #DDD;
    border-radius: 50%;
    border: 5px solid orange;
    box-shadow: 15px 15px 30px 21px orange;
}