/*Basic Style*/
*{
    margin: 0;
    padding: 0;
}

img{max-width: 100%;}

.container{
    width: 960px;
    margin: auto;
    border: 1px solid #000;
    margin-bottom: 15px;
    margin-top: 15px;
}
.row{overflow: hidden;}
.column{padding: 15px;}

/*Header style*/
.logo {
	width: 300px;
	float: left;
}

.social_icons {
	float: right;
}
.social_icons ul {
	list-style: none;
}
.social_icons ul li {
	float: left;
}
.social_icons ul li a {
	font-size: 20px;
	padding: 10px;
	background: #000;
	margin-left: 5px;
	color: #fff;
	display: block;
}
.social_icons ul li a:hover {
	background: red;
}

/*Menu style*/

.main_menu {
	overflow: hidden;
	background: #000;
	margin: 15px;
}
.main_menu ul{
    list-style: none;
}
.main_menu ul li{
    float: left;
}
.main_menu ul li a {
	color: #fff;
	padding: 5px 15px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}
.main_menu ul li a:hover{ background-color: red;}

/*Content style*/
.content {
	border: 1px solid #DDD;
	margin: 15px;
}
.content h1 {
	color: red;
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.footer {
	background: #000;
	color: #FFF;
	text-align: center;
	margin: 15px;
}