/*
    Heading design
*/
.website_heading {
    color: green;
    text-align: center;
}

.about_us {
    width: 100%;
}

.about_us p {
    width: 500px;
    margin: auto;
    text-align: center;
}

.wrapper {
    width: 500px;
    height: 500px;
    background-color: red;
    overflow: hidden
}

.wrapper-2 {
    width: 400px;
    height: 400px;
    background-color: green;
    margin: 50px;
    overflow: hidden;
}

.wrapper-3 {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 50px
}