*{margin: 0;padding: 0;}
.container{
    width:1170px;
    min-height: 100px;
    background-image: url(images/335937b8347f24d2e860dfb52312f1a2.webp);
    background-repeat: repeat;
}

.container2 {
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
    position: relative;
}
.wrapper {
	background: red;
	width: 100%;
	min-height: 100px;
	color: white;
}
.wrapper2 {
	width: 80%;
	height: 80px;
	background: yellow;
	margin-left: 10%;
    position: absolute;
    top: 5px;
}


.web_heading {
	background: green;
	color: #FFF;
	padding: 10px;
	display: inline-block;
}
.container3{
    width: 500px;
    height: 300px;
    background-color: green;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}

.column {
	width: 100px;
	min-height: 100px;
	background-color: yellow;
	margin: 10px;
	float: left;
}