*{margin: 0;padding: 0;}
div{box-sizing: border-box;}
img{max-width: 100%;}

/*This style for container*/
.container {
	width: 960px;
	border: 1px solid #000;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.row{overflow: hidden;}
.column{padding: 15px;}

/*Style for header part*/
.logo {
	width: 300px;
	float: left;
}
.social_menu{
    float: right;
}
.social_menu ul {
	list-style: none;
}
.social_menu ul li {
	float: left;
}
.social_menu ul li a {
	background: #000;
	margin-right: 5px;
	color: #FFF;
	font-size: 25px;
	padding: 10px;
	display: block;
}
.social_menu ul li a:hover {
	background: red;
}


/*Content style*/
.content {
	border: 1px solid #DDD;
	margin: 15px;
}
.content h1 {
	color: teal;
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.footer {
	background: #000;
	color: #FFF;
	text-align: center;
	margin: 15px;
}