*{margin: 0;padding: 0;}
div{box-sizing: border-box;}
img{max-width: 100%;}

/*Main container design*/
.main-container {
	width: 960px;
	margin: auto;
	border: 1px solid #000;
	padding: 15px;
}
.row{
    overflow: hidden;
}
.menu_row{overflow: inherit; min-height: 38px; width: 100%;}

.logo {
	width: 400px;
    float: left;
}

/*Social icons design*/
.social_icons {
	width: 500px;
	float: left;
}
.social_icons ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	margin-top: 29px;
}
.social_icons ul li {
	float: left;
	margin-right: 5px;
}
.social_icons ul li a {
	background: #000;
	color: #FFF;
	padding: 10px;
	display: block;
	width: 19px;
	text-align: center;
	border-radius: 50%;
}
.social_icons ul li a:hover {
	background: red;
}


/*This stle for menu area*/
.main_menu {
	margin-top: 15px;
	background: #000;
	height: 39px;
}
.main_menu ul {
	list-style: none;
}
.main_menu ul li {
	float: left;
	border-right: 1px solid #414141;
    position: relative;
}
.main_menu ul li:last-child{border: none;}
.main_menu ul li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 10px 20px;
}
.main_menu ul li a:hover {
	background: red;
}

.main_menu ul li.active a{background: red;}

/*Sub menu*/
.main_menu ul li ul {
	width: 250px;
	position: absolute;
	background: #000;
    left: -99999px;
}
.main_menu ul li ul li {
	float: none;
	border: none;
	border-bottom: 1px solid #414141;
}
.main_menu ul li ul li a{}
.main_menu ul li ul li a:hover{}

.main_menu ul li:hover ul{left: 0;}


/*This style for content area*/
.content {
	padding: 15px;
	border: 1px solid;
	margin: 50px 0;
    width: 100%;
}
.content h1 {
	border-bottom: 1px solid #DDD;
	color: teal;
	margin-bottom: 15px;
	padding-bottom: 15px;
}


/*This style for fotoer area*/
.footer{
    color: #FFF;
    background-color: #000;
    padding: 15px;
}