.my_logo img{max-height: 50px;}

/*Hero style*/
.hero_section{}
.hero_section h1{}
.hero_section p{}


/*Single Product*/
.sintle_product_card{position: relative;}
.sintle_product_card .product_tag {
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 5px !important;
}
.ratting{color: orange;}