/*Default style*/
*{
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}
img{max-width: 100%;}
.row{overflow: hidden;}
.column {
	padding: 15px;
}
.container {
	width: 960px;
	margin: auto;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*header style*/
.logo {
	width: 300px;
	float: left;
}
.social_icons {
	display: inline-block;
	float: right;
}
.social_icons ul {
	list-style: none;
}
.social_icons ul li {
	float: left;
	margin-right: 5px;
}
.social_icons ul li a {
	font-size: 25px;
	color: white;
	background: black;
	padding: 10px;
	display: block;
}
.social_icons ul li a:hover {
	background: red;
}

/*Menu style*/
.main_menu {
	background: #000;
    overflow: hidden;
}
.main_menu ul {
	list-style: none;
}
.main_menu ul li {
	float: left;
}
.main_menu ul li a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	display: block;
}
.main_menu ul li a:hover {
	background: red;
}

/*Content style*/
.content {
	border: 1px solid #ddd;
	margin: 15px;
}
.content h1 {
	color: red;
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.content p {
	margin-bottom: 15px;
}


/*Footer  style*/
.footer {
	background: #404040;
	color: #FFF;
	margin: 15px;
}
.footer p{
    text-align: center;
}