/*
Writing css in tag name
*/
h2{color: red;text-align: center;}

/*
Writing css in class selector
*/
.third_title{
    color:green;
    text-align: right;
}

.conatiner{
    background-color: red;
    width: 300px;
    height: 100px;
    margin: 10px;
}

.wrapper{
    background-color: black;
    width:700px;
    height: 500px;
    overflow: hidden;
}

.wrapper2 {
	width: 500px;
	height: 300px;
	background-color: green;
	margin: 50px;
	padding: 50px;
	overflow: hidden;
}

.wrapper3{
    width: 400px;
    height: 200px;
    padding: 50px;
    background-color: yellow;
}
.wrapper3 h1 {
	color: brown;
	text-align: center;
	margin-top: 85px;
}