/*
Demo comment
*/
.heading_text {
    color: green;
    text-align: center;
}

.about_box {
    width: 500px;
    margin: auto;
}

.about_box p {
    text-align: center;
    color: teal;
}

.wrapper {
    width: 600px;
    height: 400px;
    background-color: red;
    margin: auto;
    overflow: hidden;
}

.wrapper-2 {
    width: 500px;
    height: 300px;
    background: green;
    margin: 50px;
    overflow: hidden;
}

.wrapper-3 {
    width: 400px;
    height: 200px;
    background: yellow;
    margin: 50px;
}
.wrapper-3 h1{
    color: green;
    text-align: center;
}