*{
    margin: 0;
    padding: 0;
}
div{box-sizing: border-box;}
img{max-width: 100%;}
.row{overflow: hidden;}
.column{padding: 15px;}

/*Main content style*/
.container {
	width: 960px;
	margin: auto;
	border: 1px solid #000;
}

/*Header Style*/
.logo {
	width: 500px;
	float: left;
}

/*SOcial icons design*/
.social_icons {
	display: inline-block;
	float: right;
	margin-top: 15px;
}
.social_icons ul {
	list-style: none;
}
.social_icons ul li {
	float: left;
	margin-right: 5px;
}
.social_icons ul li a {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 50%;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}
.social_icons ul li a:hover {
	background: green;
}


/*Content style*/
.content {
	border: 1px solid #DDD;
	margin: 15px;
}
.content h1 {
	border-bottom: 1px solid teal;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.footer{
    background-color: #000;
    margin: 15px;
    color: #FFF;
    text-align: center;
}