
/*
    Test comment
*/
.title_tag{
    color: red;
    background-color: green;
    padding: 10px;
    text-align: center;
}
.wrapper_1 {
    width: 500px;
    height: 400px;
    background: red;
    margin: auto;
    overflow: hidden;
}
.wrapper_2 {
    width: 400px;
    height: 300px;
    background: green;
    margin: 50px;
    overflow: hidden;
}
.wrapper_3 {
    width: 300px;
    height: 200px;
    background: yellow;
    margin: 50px;
}
