*{
    margin: 0;
    padding: 0;
}
div{box-sizing: border-box;}
.row{overflow: hidden;}
.column{padding: 15px;}

/*Container style*/
.container {
	width: 960px;
	border: 1px solid #000;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.logo {
	width: 300px;
	float: left;
}
.logo img{max-width: 100%;}

/*Social menu style*/
.social_icons {
	float: right;
}
.social_icons ul {
	list-style: none;
}
.social_icons ul li {
	float: left;
}
.social_icons ul li a {
	background: #000;
	font-size: 25px;
	color: #FFF;
	padding: 10px;
	margin-left: 5px;
	display: block;
}
.social_icons ul li a:hover {
	background: red;
}


/*Main menu stle*/
.main_menu {
	overflow: hidden;
	background: #000;
	margin: 15px;
}
.main_menu ul{
    list-style: none;
}
.main_menu ul li {
	float: left;
}
.main_menu ul li a {
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 15px;
	display: block;
}
.main_menu ul li a:hover {
	background: #ff4800;
}


.content {
	border: 1px solid #DDD;
	margin: 15px;
}
.footer {
	background: #000;
	color: #FFFF;
	text-align: center;
	margin: 15px;
}